﻿@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using DAL.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="row">
    <div class="col-12 p-0">
        <div class="jumbotron min-vh-100 text-center m-0  d-flex flex-column justify-content-center">
            @if (SignInManager.IsSignedIn(User))
            {
                <h1 class="display-4">Welcome back!</h1>
                <p class="lead">
                    <a class="btn btn-success btn-lg" asp-area="" asp-controller="Appointment" asp-action="Index" role="button">Manage Appointments</a>
                </p>
            }
            else
            {
                <h1 class="display-4">Welcome, guest</h1>
                <p class="lead">Join us on our journey.</p>
                <p class="lead">
                    <a class="btn btn-success btn-lg" asp-area="Identity" asp-page="/Account/Login" role="button">Login</a>
                    <a class="btn btn-success btn-lg" asp-area="Identity" asp-page="/Account/Register" role="button">Register</a>
                </p>
            }
        </div>
    </div>
</div>