﻿
@model BigAppointmentModel

<form method="GET" asp-action="GenerateReports">
    <div class="row">

        <div class="form-group col-3">
            <div class="form-group">
                <input type="date" asp-for="startDate" class="form-control" style="width: 100%" />
            </div>
        </div>

        <div class="form-group col-3">
            <div class="form-group">
                <input type="date" asp-for="endDate" class="form-control" style="width: 100%" />
            </div>
        </div>

        <div class="form-group col-2">
            <div class="form-group">
                <input type="submit" value="Refresh" class="btn btn-primary" style="width: 100%" />
            </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <input type="button" value="JSON" onclick="location.href='@Url.Action("Export", "Appointment", new {exporterParam = "JSonExporter"})'" class="btn btn-primary" style="width: 100%" />
            </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <input type="button" value="CSV" onclick="location.href='@Url.Action("Export", "Appointment", new {exporterParam = "CSVExporter"})'" class="btn btn-primary" style="width: 100%" />
            </div>
        </div>
    </div>
</form>


    <table class="table">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Date of Appointment</th>
                <th>Model</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>

        @foreach (var appointment in Model.generatedAppointmentReports)
        {
            <tr>
                <td>@appointment.ClientName</td>
                <td>@appointment.DateOfAppointment  </td>
                <td>@appointment.CarModel  </td>
                <td>@appointment.ProblemDescription  </td>
                <td>@appointment.StatusOfAppointment </td>
            </tr>
        }

    </table>
